@model SearchSortPaging.Models.vw_Co2Db_Postnr

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vw_Co2Db_Postnr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Postnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bynavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bynavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LandID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LandID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Land)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Land)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
